.bg-img {
	position: absolute;
	top: 0px;
	left: 0px;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 999;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
}

#loading-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #fff;
  background-color: #0168b5;
  padding: 10px;
  z-index: 1000;
}

#language .ui-btn-icon-notext {
	display: block;
    padding: 10px;
}

#language {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}

#startbutton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#aboutbutton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    -moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	padding: 10px;
}

.ui-btn-up-z {
	border: 1px solid 		#222;
	background: 			#333333;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, 
							#555555, 
							#333333);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#555555),
		color-stop(1, 		#333333));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#555555', EndColorStr='#333333')";
}
.ui-btn-up-z a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-hover-z {
	border: 1px solid 		#000;
	background: 			#444444;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, 
							#666666, 
							#444444);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#666666),
		color-stop(1, 		#444444));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#444444')";
}
.ui-btn-hover-z a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-z {
	border: 1px solid 		#000;
	background: 			#3d3d3d;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, 
							#333333, 
							#5a5a5a);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#333333),
		color-stop(1, 		#5a5a5a));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='#5a5a5a')";
}
.ui-btn-down-z a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-up-z,
.ui-btn-hover-z,
.ui-btn-down-z {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}
