#navigation {
    position: absolute;
    bottom: 0px;
    left: 10px;
    z-index: 10;
}

#navigation .ui-btn-icon-notext {
	padding: 10px;
}

#location {
    position: absolute;
    bottom:10px;
    right: 10px;
    z-index: 10;
    padding: 10px;
}

#north {
    position: absolute;
    top: 10px;
    left: 50%; 
    margin-left: -10px;
    z-index: 10;
    padding: 10px;
}

#south {
    position: absolute;
    bottom: 10px;
    left: 50%; 
    margin-left: -10px;
    z-index: 10;
    padding: 10px;
}

#west {
    position: absolute;
    top: 50%;
    left: 10px; 
    margin-top: -10px;
    z-index: 10;
    padding: 10px;
}

#east {
    position: absolute;
    top: 50%;
    right: 10px; 
    margin-top: -10px;
    z-index: 10;
    padding: 10px;
}

#home {
    position: absolute;
    top: 10px;
    right: 10px; 
    z-index: 10;
    padding: 10px;
}

.nav-button {
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	/* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=80);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.8;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.8;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.8;
}

	